@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family:"Quicksand", serif;
    ;
   
}

/*Header>nav bar & banner*/
header{
   
    margin: 0px 7%;

}
.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  
}
.nav_bar>div{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 3.7rem;font-weight: 700;
}
.orange_btn{
    border: none;
    color: white;
    height: 40px;
    font-weight: 600;

    width: 9rem;
    border-radius: 10px;
    padding:5px ;
    background-color: rgb(254, 163, 1);
}
.logo_img{
    width: 3.2rem;
    height: 3.2rem;
}
.logo_div{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
#home_nav_btn{
    color: rgb(254, 163, 1);
    
}
#about_nav_btn{
    color:rgb(1, 172, 253) ;
}
#facilities_nav_btn{
    color: rgb(5, 212, 223);
}
#admission_nav_btn{
    color: rgb(93, 88, 239);
}
.bar_icon{
    visibility: hidden;

}

.header_text_p{
    width: 100%;

}
/*banner*/

.banner{
    /* background-image: url('../assets/bg.png'); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 6%;
}
.banner h1{
    font-size: 3rem;
    margin-bottom: 0px;
}

.banner button{
    background-color: black;
}
.hero_img{
    height: 67vh;
    padding-left: 10px;
}
.nav_hr{
    visibility: hidden;
    color: rgb(254, 163, 1);
    padding: auto -40px;
}
/*curicullum*/
.std_curriculum{
    background-image: url("../assets/bg.png");
    text-align: center;
    padding: 5%;
}
.card_mother_div{
    display: flex;
    padding: 3rem 10%;
    justify-content: space-around;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 25rem;
    padding: 1% 5%;
    border-radius: 10px;
    gap: -7px;
    box-shadow: 0px 0px  28.3px  0.94px rgba(0, 0, 0, 0.05);
}
.card img{
    width: 70wh;

}
.card>h2{
    font-size: 1.3rem;
    margin-bottom: 0px;
}

.card>p{
    font-size: .9em;
}
.read_more{
    font-weight: 700;
    font-size: .90rem;

}
.arrow_div{
    visibility: visible;
}

#box_1{
    background-image: linear-gradient(rgb(222, 245, 255),rgba(255, 255, 255, 0),rgb(255, 255, 255));
}
#box_2{
    background-image: linear-gradient(rgb(255, 244, 220),rgba(255, 255, 255, 0),rgb(255, 255, 255));
}
#box_3{
    background-image: linear-gradient(rgb(238, 225, 255),rgba(255, 255, 255, 0),rgb(255, 255, 255));
}
/* #arrow_div{
    visibility: visible;
} */
.arrow_btn{
    color: black;
    background-color: rgb(254, 163, 1);
    color: white;
    font-weight: 700;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;

}




/* Our story */

.our_story_sec{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background-image: url(../assets/bg.png),linear-gradient(rgba(255, 255, 255, 0.3),rgba(254, 161, 1, 0.234));
}
.our_story_sec h1{
    font-size: 3rem;
    margin: 0px;
    padding-bottom: 0px;
}
.our_story_card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;


}
.our_story_card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.our_story_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5% 10%;
    gap: 2%;
}
.our_story_div button{
    font-weight: 500;
    border-radius: 15px;
    
    padding: .6rem 1rem;
    font-size: 12px;
    border: none;
    width: 11.7rem;
    position: relative;
    left: 1.4rem;
    bottom: 1.30rem;
    color: rgb(255, 255, 255);
    

}
.story_button_div{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    
}
.our_story_card h2{
    font-size: .8rem;
    padding-left: 8%;
    margin-top: 0px;
    padding-bottom: 2%;
    padding-right: 8%;
    font-weight: 700;
}

#story-1{
    grid-column: 1/3;
    grid-row: 1/3;

}
#story-1 h2{
    font-weight: 700;
    font-size: 1.3rem;

}
#story-1 p{
    font-size: .8rem;
    padding-left: 8%;
    font-size: 1rem;
    color: rgb(102, 102, 102);
    padding-right: 8%;
    font-weight: 500;
}

footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(1, 172, 253);
    padding: 5% 10%;
    color: white;
    column-gap: ;

}
.footer_dives{
    display: flex;
    flex-direction: column;
}
footer ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -3vw;
    gap: 8px;
    

}
.footer_li{
    font-size: 14px;
    font-weight: 600;
}
.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.footer_logo img{
    height: 5.5rem;
}
.footer_dives img{
    font-size: 1rem;
    width: 5rem;
    padding-bottom: 1rem;
   

}
#logo_id_div{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 40px;
}
    
.social_icon{
    flex-direction: row;
    gap: 0px;
    margin-left: -20px;
    
}
.social_icon img{
    width:2rem;
}
.marquee{
    color: orange;
    font-weight: 700;
}
.footer_li{
    margin-left: 0px;
}
@media screen and (max-width:576px) {
    .visibility{
        display: none;
    }
    .nav_bar{
        justify-content: space-between;
        padding: 5px 5%;
        padding-bottom: 5px;
        width: 100wh;
        
    }
    .hero_img{
        width: 100%;
        height: 100%;
    }
    .nav_hr{
        visibility: visible;
    }

    .bar_icon{
        visibility: visible;
    }
    .banner,.banner h1{
        flex-direction: column-reverse;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
    }
    .banner p{
        font-size: 1rem;
       
    }
    .nav_father{
        border: 1.5px solid  rgba(254, 161, 1, 0.252);
        margin: 5px -5px;
        padding-left: 10px;
        padding-right: 20px;
       
    }
    .card_mother_div{
        flex-direction: column;
        width: 100%;
        padding:4px 0px;
        /* margin-left: -10px; */
        margin-right: 0px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        flex-wrap: wrap;
    }
    .std_curriculum{
        /* padding: 0px auto; */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card{
       
        padding: 5px;
        
    }
    .arrow_btn{
        display: none;
        width: 0px;
        height: 0px;
    }
    /* Our story */

    .our_story_div{
       /*  */
        grid-template-columns: repeat(2,minmax(140px,1fr));
        align-items: center;
        padding-right: 1rem;
        padding-left: 3rem;
        
    }
    .our_story_card{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .our_story_card img{

    }
    .header_text_p{

    }
    .our_story_div button{
        top: -10px;
    }
    #story-1{
        display: none;
    }
    .story_button_div{
        margin: 5%;
    }
    
    .our_story_div button{
        width: 6rem;
        font-size: 7px;
       
    }
    .hero_img{
        
        padding-left: 0px;
    }
    footer{
        
        grid-template-columns: 1fr;
    }
    #logo_id_div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-right: 4px;
    }
    footer li{
        margin-left:-20px;
        
    }
    .social_icon{
        margin-top: 0px;
        margin-left: 0px;
        gap: 24px;
        justify-content: left;
    }

    footer p{
        width: 100%;
    }
    .our_story_card{
        
        margin-left: -20px;
        justify-content: center;
       
    }


}    
